*.swo
*.swp
.DS_Store
.gitnexus
.vscode/settings.json
/data/
/apps/desktop-tauri/gen/
/apps/desktop-tauri/target/
/apps/web/dist/
/apps/web/node_modules/
/node_modules/
/target/
/tmp/

# Ignore all data files in the server crate, except for editor themes.
/apps/server/data/*
!/apps/server/data/editor-themes/
