*.swo
*.swp
.DS_Store
.gitnexus
.vscode/settings.json
/data/
/desktop/gen/
/desktop/target/
/frontend/dist/
/frontend/node_modules/
/target/
/tmp/

# Ignore all data files in the server crate, except for editor themes.
/crates/server/data/*
!/crates/server/data/editor-themes/
